.messageBar{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    width: 100%
}

.messageBar__top{
    display: flex;
    border-bottom: 1px solid #effef5;
    padding: 15px;
}

.messageBar__top>form{
    flex:1;
    display: flex;
}

.messageBar__top>form>input{
    outline-width:0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.messageBar__top>form>button{
    display: none;
}

.messageBar__input{
    flex:1
}

.messageBar__bottom{
    display: flex;
    justify-content: space-evenly;
}

.messagebar__option{
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.messagebar__option>h3{
    font-size: medium;
    margin-left: 10px;
}

.messagebar__option:hover{
    background-color: #eff2f5;
    border-radius: 20px;
}